version: '3.8'

services:
  nginx:
    image: nginx
    volumes:
    - ./templates:/etc/nginx/templates
    ports:
    - "8080:80"
    environment:
    - NGINX_HOST=foobar.com
    - NGINX_PORT=80

  php:
    image: php:8.2-fpm-alpine
    container_name: php_fpm
    
    networks:
      - web_network

networks:
  web_network:
    driver: bridge